<!-- <form class="card" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="card-title">
        <h2>Enter to admin panel</h2>
    </div>
    <div class="form-control" [ngClass]="{invalid: loginForm.get('email').touched && loginForm.get('email').invalid}">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="validation">
            <small *ngIf="loginForm.get('email').errors.required">error</small>
            <small *ngIf="loginForm.get('email').errors.email">email error</small>
        </div>
    </div>
    <div class="form-control"
        [ngClass]="{invalid: loginForm.get('password').touched && loginForm.get('password').invalid}">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid" class="validation">
            <small *ngIf="loginForm.get('password').errors.required">Enter password</small>
            <small *ngIf="loginForm.get('password').errors.minlength">
                Password must be contain {{loginForm.get('password').errors.minlength.requiredLength}} symbols, now he
                contain {{loginForm.get('password').errors.minlength.actualLength}}
            </small>
        </div>
    </div>
    <div class="form-btn">
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Login</button>

    </div>

</form> -->

<form class="card" [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="card-title">
        <h2>Enter to admin panel</h2>
    </div>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as alert"> {{alert}}</div>
    <div class="wrap">
        <mat-form-field appearance="outline" class="custom-input">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" formControlName="email" placeholder="Ex. pat@example.com"
                autocomplete="email">
            <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                Please enter a valid email address
            </mat-error>
            <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                Email is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" class="custom-input">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Ex. pat@example.com"
                autocomplete="current-password">
            <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['email'].hasError('required')">
                Password is
                <strong>required</strong>
            </mat-error>
            <mat-error id="requiredPasswordError"
                *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                <small *ngIf="loginForm.get('password').errors.minlength">
                    Password must be contain {{loginForm.get('password').errors.minlength.requiredLength}} symbols, now
                    he
                    contain {{loginForm.get('password').errors.minlength.actualLength}}
                </small>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-btn">
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid ||
        submitted">Login</button>
    </div>
</form>

<!-- Что бы работали кастомные стили нужно в главный модуль импортировать CustomMaterialModule -->