<div class="container" *ngIf="task$ | async as task; else loading">
    <div class="task">
        <div class="task-header">
            <h1>
                {{task.title}}
            </h1>
            <button routerLink="/" mat-raised-button color="primary">To main page</button>
        </div>
        <div class="info">
            <div class="author">
                {{task.author}}
            </div>
            <div class="date">
                {{task.date | date: 'dd.MM.yyyy'}}
            </div>
        </div>
        <div class="task-content">
            <quill-view-html [content]='task.text'></quill-view-html>
        </div>
    </div>
</div>
<ng-template #loading>
    <p>Content loading...</p>
</ng-template>